*{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
  }
body
{
    font-family: sans-serif;
    height: 100vh;
}
.header
{
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}
.logo
{
    text-decoration: none;
    color: #772300;
}
.logo img
{
    height: 40px;
    margin-top: 5px;
}
.logo span
{
    width: 20%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}
.mainBody
{
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: scroll;
}
.loginForm
{
    width: 35%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.formHeader
{
    display: inherit;
    justify-content: center;
    font-size: 22px;
    padding: 10px 0;
}
#userName,#password
{
    background: #fff;
    height: 33px;
    padding: 0 10px;
}
#submitBtn
{
    border: 2px solid #666;
    background-color: #fff;
    padding: 8px 0;
    box-sizing: border-box;
}
.loginForm input
{
    border-radius: 4px;
    margin-top: 10px;
}
.errorMessage
{
    color: #f00;
    font-size: 12px;
    margin: 5px;
}
.loginError
{
    margin: auto;
}
.logOutBtn button
{
    border: none;
    border-radius: 4px;
    background: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
    margin-left: auto;
}
.logOutBtn button:focus
{
    outline: none;
}
.logOutBtn
{
    display: flex;
    align-items: center;
}


/* Category style */

.categoryBody 
{
    width: 40%;
    max-height: 90%;
    overflow: scroll;
}
#addModal,#imageModal
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ebebeb8c;
    display: flex;
}
#imageModal>div
{
    width: 40%;
    height: 95%;
}
.carousel-inner
{
    width: 100%;
    height: 100%;
    position: relative;
}
.carouselButtons
{
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.carouselButtons>button
{
    margin: 0 5px;
    width: 25%;
}
.displayNone
{
    display: none !important;
}
.productModalBody,.subCategoryModalBody,.categoryModalBody
{
    width: 50%;
    background-color: #fff;
    max-height: 100%;
}
#productDescription{
    height: 100px;
}
.categoryModalBody
{
    height: 50%;
}
.subCategoryModalBody
{
    height: 60%;
}
.categoryList
{
    max-height: 90%;
}
.categoryButtons{
    width: 35%;
}
.productModalScroll
{
    height: 85%;
    overflow-y: scroll;
}
.thumbnailImage
{
    max-height: 100px;
    border: none;
    padding: none;
    background-color: #fff;
}
.thumbnailImage img
{
    max-width: 100%;
    height: 100%;
}
.productName
{
    font-size: 18px;
}
.brandName
{
    font-size: 12px;
}
.carousel-item
{
    height: 100%;
}
.carousel-item>img
{
    height: 100%;
    width: fit-content;
}
.imageModalClose
{
    right: 10px;
    top:10px;
}
.categoryItem img{
    height: 25px;
}
.productButtons{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fff;
}
.productButtons img{
    height: 100%;
    width: 100%;
}